<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link href="/css/styles-register.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
        <h3 class="forms-subTitle">Usted a ingresado como administrador del sitio</h3><br>

        <h3 class="forms-subTitle"><a href="/crear-producto">Crear producto</a></h3><br>

        <h3 class="forms-subTitle"><a href="/lista-productos">Mostrar productos</a></h3><br>

        <h3 class="forms-subTitle"><a href="/">Volver a inicio</a></h3><br>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>