<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link href="css/styles-productCart.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
        

        
        <div class="productsBox">
            <div class="boxTitle">
                Carrito
            </div>
        <div class="itemsColumn">
            <div class="item1">
                <div class="image">
                  <img src="/img/pirelli-diablo-rosso4-main.png" alt="PirelliAngelST" width="150" />
                </div>
          
                <div class="description">
                  <span>ANGEL™ ST</span>
                  <span>Pirelli</span>
                  <span class="descipcion">Neumático de turismo deportivo</span>
                </div><br>
          
                <div class="quantity">
                  <span>Cantidad  </span><input type="text" name="name" value="1" size="2">
                </div><br>
          
                <div class="total-price">170€</div><br>
          
                <div class="product-removal">
                  <button class="formsButton">
                    Eliminar
                  </button>
                </div><br>
            </div>

                <div class="item2">

                    <div class="image">
                      <img src="/img/pirelli-diablo-rosso4-main.png" alt="PirelliDiabloRosso4" width="150" />
                    </div>
              
                    <div class="description">
                      <span>Diablo Rosso IV</span>
                      <span>Pirelli</span>
                      <span class="descipcion">Neumático de turismo deportivo</span>
                    </div><br>
              
                    <div class="quantity">
                      <span>Cantidad   </span><input type="text" name="name" value="1" size="2">
                    </div><br>
              
                    <div class="total-price">240€</div><br>

                    <div class="product-removal">
                      <button class="formsButton">
                        Eliminar
                      </button>
                    </div><br>
                </div>
            
        </div>
        </div>

        <div class="form-footer">
          <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="<%= id %>"></script>
          </div>

        <div class="banner">
            <img src="img/bannerDunlop.png" class="bannerDunlop" alt="bannerDunlop">
        </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>