<!-- Partial / footer.ejs-->

    <section id="contenedordefooter">

        <article class="conocenos" >
            <h4>Conocenos</h4>
            <a href="https://www.instagram.com/"> <img class="Instagram" src="/img/instagram-icon.png" alt="Instagram" class="instagramIcon"> </a> 
            </a>
            <a href="https://www.facebook.com/" target="blank">
                <img class="Facebook" src="/img/facebook-icon.png" alt="Facebook" >
            </a>
            <a href="https://www.youtube.com/" target="blank">
                <img class="Youtube" src="/img/youtube-icon.png" alt="Youtube" >
            </a>
            <a href="https://www.whatsapp.com/" target="blank">
                <img class="WhatsApp" src="/img/whatsapp-icon.png" alt="WhatsApp" >
            </a>
            <a href="https://www.email.com/" target="blank">
                <img class="Email" src="/img/email-icon.png" alt="Email">
            </a>
        </article>

        <article class="compraenMotoTire">

            <h4>Comprá en MotoTire</h4>
            <ul type="none">
                <li><a href="#">Servicio Técnico</a></li>
                <li><a href="#">Información Legal</a></li>
                <li><a href="#">Protección de usuario financiero</a></li>

            </ul>
        </article>

        <article class="mototirecredito">

            <h4>MotoTire Crédito</h4>
            <ul type="none">
                <li><a href="#">Pagá online</a></li>
                <li><a href="#">Catálogo exclusivo</a></li>
                <li><a href="#">Condiciones</a></li>

            </ul>
        </article>

        <article class="ayuda">

            <h4>Ayuda</h4>
            <ul type="none">
                <li><a href="#">Centro de ayuda</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Vendé en MotoTire</a></li>
                <li><a href="#">Trabajá con nosotros</a></li>
            </ul>
        </article>

    </section>

        <p class="derechos">Copyright 2022 | Todos los derechos reservados MotoTire.com. MotoTire S.A. </p>

