<div class="navbar">
    <div class="logoContainer">
        <a href="/"><img src="/img/navbarIcono2.png" class="navLogo" alt="navLogo" width="60"></a>
    </div>

    <div class="pageTitle">
        <h2>MotoTire</h2>
    </div>

    <div class="respmenu">
        <input type="checkbox">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        <nav>
          <ul>
            <li><a href="/lista-productos">Productos</a></li>
          </ul>
        </nav>
        <nav>
          <ul>
           
              <li><a href="/registrarse">Registrarme</a></li>
              <li><a href="/ingresar">Ingresar</a></li>
              <li><a href="/mis-compras">Mis compras</a></li>
            
          </ul>
        </nav>
      </div>

     
<div class="navbarList">
  <li><a href="/lista-productos" class="hyperlink">Productos</a>&nbsp;&nbsp;&nbsp;</li>
  <li><a href="/registrarse" class="hyperlink">Registrarme</a>&nbsp;&nbsp;&nbsp;</li>
  <li><a href="/ingresar" class="hyperlink">Ingresar</a>&nbsp;&nbsp;&nbsp;</li>
  <li><a href="/mis-compras" class="hyperlink">Mis compras</a></li>
  
</div>
</div>