<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link href="/css/styles-register.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
        <h1>Upps! Pagina No Encontrada </h1>
        <p>ERROR 404</p>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>